<div
  class="hero-wrap js-fullheight"
  style="background-image: url('images/dog_bg.jpeg.webp')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div class="col-md-11 ftco-animate text-center">
        <h1 class="mb-4">Be The Change They Need and Deserve</h1>
        <p>
          <a href="#about" class="btn btn-primary mr-md-4 py-3 px-4"
            >Learn more <span class="ion-ios-arrow-forward"></span
          ></a>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light ftco-no-pt ftco-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
        <div class="d-block services active text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <img
              class="icons-in-services"
              src="images/dog-icon.svg"
              style="height: 50px"
              alt=""
            />
          </div>
          <div class="media-body">
            <h3 class="heading">Meet a Dog</h3>
            <p>
              Visit your possible new fur friend, get to know them and fall in
              love with the right one for you. Remember to bring lots of love
              and smiles with you!
            </p>
            <a
              href="#services"
              class="btn-custom d-flex align-items-center justify-content-center"
              ><span class="fa fa-chevron-right"></span
              ><i class="sr-only">Read more</i></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <img
              class="icons-in-services"
              src="images/bone-icon.svg"
              style="height: 50px"
              alt=""
            />
          </div>
          <div class="media-body">
            <h3 class="heading">Dog Daycare</h3>
            <p>
              Spend a day with us at our Dog Adoption center and keep our fur
              friends company during the day. Kindness required!
            </p>
            <a
              href="#services"
              class="btn-custom d-flex align-items-center justify-content-center"
              ><span class="fa fa-chevron-right"></span
              ><i class="sr-only">Read more</i></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <img
              class="icons-in-services"
              src="images/paw-icon.svg"
              style="height: 50px"
              alt=""
            />
          </div>
          <div class="media-body">
            <h3 class="heading">Adoption</h3>
            <p>
              You met the right fur friend and you are certain about expanding
              your family? Visit us and complete the adoption process!
            </p>
            <a
              href="#services"
              class="btn-custom d-flex align-items-center justify-content-center"
              ><span class="fa fa-chevron-right"></span
              ><i class="sr-only">Read more</i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-5 d-flex">
        <div
          class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
          style="background-image: url(images/abouts_us.jpeg)"
        ></div>
      </div>
      <div class="col-md-7 pl-md-5 py-md-5">
        <div class="heading-section pt-md-5">
          <h2 class="mb-4">Why Choose Us?</h2>
        </div>
        <div class="row">
          <div class="col-md-6 services-2 w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-stethoscope"></span>
            </div>
            <div class="text pl-3">
              <h4>Care Advices</h4>
              <p>Along with a new friend, get detailed care specifications.</p>
            </div>
          </div>
          <div class="col-md-6 services-2 w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-customer-service"></span>
            </div>
            <div class="text pl-3">
              <h4>Friend Support</h4>
              <p>Secure and reliable help for every step of your journey</p>
            </div>
          </div>
          <div class="col-md-6 services-2 w-100 d-flex"></div>
          <div class="col-md-6 services-2 w-100 d-flex"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number">85</strong>
          </div>
          <div class="text">
            <span>Customers</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number">15</strong>
          </div>
          <div class="text">
            <span>Professionals</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number">40</strong>
          </div>
          <div class="text">
            <span>Pets Hosted</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section testimony-section"
  style="background-image: url('images/CLIENTSFEEDBACK.jpeg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2>Clients & Feedbacks</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div
          class="carousel-testimony owl-carousel ftco-owl"
          id="feedbackContainer"
        >
          <!-- Feedbacks will be dynamically inserted here -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <!-- Available Pets Section -->
  <div class="container" style="padding-top: 3rem; padding-bottom: 3rem">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <p>
          <a href="#pets" class="btn btn-primary btn-outline-primary"
            >View All Pets</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
